.badge-pendiente{
    background-color: rgb(255, 2, 2);
    color: rgb(255,255,255);
    padding: 1% 2%;
    border-radius: 5%;
}

.badge-pagado{
    background-color: rgb(0, 172, 157);
    color: rgb(255,255,255);
    padding: 1% 2%;
    border-radius: 5%;
}

.text-derecha{
    text-align: right !important;
}