<div class="layout-topbar">
    <a href="#" class="layout-topbar-logo">
        <img id="topbar-logo" src="assets/layout/images/logo-olympia-white.png">
    </a>

    <a href="#" class="layout-menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>

    <a href="#" class="layout-topbar-user" (click)="app.onTopbarMenuButtonClick($event)">
        <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
    </a>

    <ul  class="layout-topbar-usermenu" [ngClass]="{'layout-topbar-usermenu-active fadeInDown': app.topbarMenuActive}">
        <li class="layout-topbar-usermenu-header">
            <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
            <div class="layout-topbar-usermenu-info">
                <div class="layout-topbar-usermenu-name">Usuario</div>
            </div>
        </li>

        <li>
            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                <i class="fa fa-fw fa-user"></i>
                <a href="#" (click)="onLogout()" class="topbar-item-name">Cerrar sesión</a>
            </a>
        </li>
    </ul>

  
</div>
