<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Transferencias Interbancarias</h1>
      <p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
      <br />
      <p-messages [(value)]="msgs"></p-messages>
      <div class="card card-w-title">
        <h1>Origen</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
              <label for="dropdown">Cuenta</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--Aqui hay q cambiar-->
              <p-dropdown [options]="saldo" [(ngModel)]="cta_org" placeholder="Cuenta de origen"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Monto</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" [(ngModel)]="monto" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>
          </div>
        </div>
        <br />
      </div>


      <div class="card card-w-title">
        <h1></h1>
        <h1>Destino</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
              <label for="dropdown">Banco Destino</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--Aqui hay q cambiar-->
              <p-dropdown [options]="bancos" [(ngModel)]="banco_destino" placeholder="Seleccione Banco"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Cuenta</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" [(ngModel)]="cta_dest" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>

          </div>

        </div>
        <br />
      </div>
      <p-button label="Aceptar" icon="fa fa-check-square"  (click)="btnAceptar()" 
        [disabled]="!permiteTranferir"></p-button>
    </div>
  </div>

</div>