<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Transferencias Interbancarias</h1>
      <p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
      <br />
      <div class="card card-w-title">
        <h1>Origen</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
              <label for="dropdown">Cuenta</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--Aqui hay q cambiar-->
              <p-dropdown [options]="saldo" [(ngModel)]="cta_org" placeholder="Cuenta de origen"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Monto</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" [(ngModel)]="monto" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>
          </div>
        </div>
        <br />
      </div>


      <div class="card card-w-title">
        <h1></h1>
        <h1>Destino</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
              <label for="dropdown">Banco Destino</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--Aqui hay q cambiar-->
              <p-dropdown [options]="bancos" [(ngModel)]="banco_destino" placeholder="Seleccione Banco"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Cuenta</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" [(ngModel)]="cta_dest" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>

          </div>

        </div>
        <br />
      </div>
      <p-button label="Aceptar" icon="fa fa-check-square"  (onClick)="mostrar($event, pago)"
        [disabled]="!permiteTranferir"></p-button>
    </div>
  </div>

  <p-dialog header="Detalle Transferencia Interbancaria" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true"
    [minY]="70" [style]="{maxWidth: '400px'}" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="monto">
      <div class="ui-g-6">Transfercia a la cuenta: </div>
      <div class="ui-g-6 text-derecha">{{cta_dest}}</div>
      <div class="ui-g-6">Banco: </div>
      <div class="ui-g-6 text-derecha">{{banco_destino}}</div>
      <div class="ui-g-6">El valor de: </div>
      <div class="ui-g-6 text-derecha">{{monto}}</div>
    </div>
    <p-footer>
      <p-button label="Confirmar Transferencia" icon="fa fa-money" (click)="btnAceptar()" (onClick)=" btnAceptar($event)"></p-button>
      <p-button label="Cerrar" icon="fa fa-close" (onClick)="display=false" class="ui-button-secondary"></p-button>
    </p-footer>
  </p-dialog>
</div>