<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Transferencias Interbancarias</h1>
    </div>

    <div class="card card-w-title">
      <p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
      <br />

    </div>
    <div class="card card-w-title">
      <h1>Origen</h1>
      <div class="ui-g form-group">
        <!-- <div class="ui-g-12 ui-md-6">-->
        <div class="ui-g-12 ui-md-4">
          <label for="dropdown">Cuenta</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <!--Aqui hay q cambiar-->
          <p-dropdown [options]="saldo" [(ngModel)]="cta_org" placeholder="Seleccione cuenta de origen"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
          <label for="input">Monto</label>
        </div>
        <div class="ui-g-12 ui-md-8">
            <input id="input" [(ngModel)]="monto" type="text" pInputText />
        </div>
        <!--</div>-->
      </div>
    </div>

    <div class="card card-w-title">
      <h1>Destino</h1>
      <div class="ui-g form-group">


        <div class="ui-g-12 ui-md-4">
          <label for="dropdown">Banco Destino</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <!--Aqui hay q cambiar-->
          <p-dropdown [options]="bancos" [(ngModel)]="banco_destino" placeholder="Seleccione Banco">></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
          <label for="input">Número de Cuenta</label>
        </div>
        <div class="ui-g-12 ui-md-8">
            <input id="input" [(ngModel)]="cta_dest" type="text" pInputText />
        </div>
      </div>
    </div>



    <div class="card card-w-title">
      <h1>Concepto</h1>

      <div class="ui-g form-group">


        <div class="ui-g-12 ui-md-4">

          <label for="input">Por Concepto de</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <input id="input" type="text" pInputText />
        </div>

      </div>
    </div>


    <div class="ui-g form-group">
      <p-messages [(value)]="msgs"></p-messages>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-12 ui-md-4">
        </div>
        <div class="ui-g-12 ui-md-8">
          <button pButton type="button" label="Aceptar" (click)="btnAceptar()" icon="fa fa-check-square"></button>
        </div>
      </div>
    </div>

    <br />

  </div>
</div>