<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Movimientos</h1>

            <p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
            <br />
            <div class="card card-w-title">
                <h1></h1>

                <!-- <div class="card no-margin">-->
                <h1></h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-6">

                        <div class="ui-g-12 ui-md-4">
                            <label for="dropdown">Cuenta</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <!--Aqui hay q cambiar-->
                            <p-dropdown id="productos" [options]="cuenta_ser" [(ngModel)]="cuenta_sel" [autoWidth]="false"
                                optionLabel="cuenta"></p-dropdown>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="calendar">Desde</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-calendar id="calendar" [(ngModel)]="fechaDesde" [showIcon]="true" placeholder="dd/MM/yyyy"></p-calendar>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="calendar">Hasta</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-calendar id="calendar" [(ngModel)]="fechaHasta" [showIcon]="true" placeholder="dd/MM/yyyy"></p-calendar>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <button pButton type="button" icon="fa fa-search" label="Buscar" (click)="btnAceptar()"></button>
                        </div>
                    </div>
                </div>

                <p-table [columns]="cols" [value]="movimientos" selectionMode="single" dataKey="documento"
                    [(selection)]=" movimientoSeleccionado" [paginator]="true" [rows]="10" [responsive]="true"
                    paginatorPosition="both">
                    <ng-template pTemplate="caption">
                        LISTA DE MOVIMIENTOS
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <!--let-columns
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>-->
                            <th>Documento</th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th>Saldo</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-hitem>
                        <tr [pSelectableRow]="rowData">
                            <!--let-rowData let-columns="columns"
                            <td *ngFor="let col of columns">
                                <span class="ui-column-title">{{col.header}}</span>
                                {{rowData[col.field]}}
                            </td>-->
                            <td>{{hitem.documento}}</td>
                            <td>{{hitem.fecha | formatoFecha}}</td>
                            <td>{{hitem.tipo}}</td>
                            <td>{{hitem.valor}}</td>
                            <td>{{hitem.saldo}}</td>
                        </tr>
                    </ng-template>
                </p-table>


                <p-dialog header="Login" [resizable]="false" responsive="true" [(visible)]="dialogVisible">
                    <div class="ui-g form-group" style="margin-bottom: 16px;">
                        <div class="ui-g-12">
                            <input type="text" pInputText placeholder="Name">
                        </div>
                        <div class="ui-g-12">
                            <input type="password" pInputText placeholder="Password">
                        </div>
                    </div>

                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" label="Login" icon="fa fa-user" (click)="dialogVisible=false" pButton></button>
                        </div>
                    </p-footer>
                </p-dialog>

                <!--</div>-->
                <br />

            </div>


        </div>

    </div>