<p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
<br />
<div class="card card-w-title">
    <h1>Movimientos</h1>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <div class="ui-g form-group" style="margin-top:20px">
        <div class="ui-g-12 ui-md-4">
            <label for="pc-numero-cuenta">Número de Cuenta:</label>
        </div>
        <div class="ui-g-12 ui-md-8">
            <p-dropdown id="pc-numero-cuenta" [options]="cuentas1" [(ngModel)]="cuentaSeleccionada" optionLabel="cuenta"
                [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
            <label for="pc-fecha-desde">Desde</label>
        </div>
        <div class="ui-g-12 ui-md-8">
            <p-calendar id="pc-fecha-desde" [(ngModel)]="desde" [showIcon]="true" placeholder="dd/MM/yyyy"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-4">
            <label for="pc-fecha-hasta">Hasta</label>
        </div>
        <div class="ui-g-12 ui-md-8">
            <p-calendar id="pc-fecha-hasta" [(ngModel)]="hasta" [showIcon]="true" placeholder="dd/MM/yyyy"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-4">
        </div>
        <div class="ui-g-12 ui-md-8">
            <button pButton type="button" (click)="obtenerMovimiento($event)" label="Aceptar" icon="fa fa-check-square"></button>
        </div>

        <p-table [columns]="cols" [value]="movimientos" selectionMode="single" dataKey="documento" [(selection)]="cuentaSeleccionada"
            [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="both">
            <ng-template pTemplate="caption">
                LISTA DE MOVIMIENTOS
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Documento</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Saldo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-newItem>
                <tr>
                    <td>{{newItem.documento}}</td>
                    <td>{{newItem.tipo}}</td>
                    <td>{{newItem.fecha | formatoFecha}}</td>                                      
                    <td>{{newItem.valor}}</td>
                    <td>{{newItem.saldo}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>