<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Transferencias Directas</h1>
      <p-breadcrumb [model]="identificadorUsuario" [home]="{icon: 'fa fa-user'}"></p-breadcrumb>
      <br />

      <div class="card card-w-title">
        <!--<p-messages [(value)]="msgs"></p-messages>-->
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-4">
              <label for="dropdown">Cuenta</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--Aqui hay q cambiar-->
              <p-dropdown [options]="saldo" [(ngModel)]="cta_org" placeholder="Seleccione cuenta de origen"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">A la cuenta:</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--<input type="text" pInputText pKeyFilter="pnum" [(ngModel)]="valorPagar" (keyup)="estadoPago($event)">-->
              <input id="input" [(ngModel)]="cta_dest" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Monto</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" [(ngModel)]="monto" type="text" pInputText pKeyFilter="pnum" (keyup)="estado($event)" />
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
              <!--<button pButton type="button" label="Aceptar" (click)="btnAceptar()" icon="fa fa-check-square"></button>-->
              <p-button label="Aceptar" icon="fa fa-check-square"  (onClick)="mostrar($event, pago)"
                [disabled]="!permiteTranferir"></p-button>
              <p-footer>


              </p-footer>
            </div>
          </div>
        </div>
        <br />
      </div>


    </div>
  </div>

  <p-dialog header="Detalle Transferencia Directa" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" [minY]="70"
    [style]="{maxWidth: '400px'}" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="monto">
        <div class="ui-g-6">Transfercia a la cuenta: </div>
        <div class="ui-g-6 text-derecha">{{cta_dest}}</div>
        <div class="ui-g-6">El valor de: </div>
        <div class="ui-g-6 text-derecha">{{monto}}</div>
    </div>    
    <p-footer>
      <p-button label="Confirmar Transferencia" icon="fa fa-money" (onClick)=" btnAceptar($event)" ></p-button>
      <p-button label="Cerrar" icon="fa fa-close" (onClick)="display=false" class="ui-button-secondary"></p-button>
    </p-footer>
  </p-dialog>

</div>